<f:layout name="Default"/>

This Template is responsible for creating a calendar control.
<f:section name="main">
    <f:comment>
        <f:debug>{calendar}</f:debug>
        <f:debug>{configuration}</f:debug>
        <f:debug>{settings}</f:debug>
        <f:debug>{performances}</f:debug>
        <f:debug>{overwriteDemand}</f:debug>
    </f:comment>
    <div class="calendar miniMonth">
        <f:comment> Day</f:comment>
        <f:if condition="{calendar.displayPeriod} == 0">
            <f:render partial="Calendar/Day"
                      arguments="{
				calendar: calendar,
				configuration: configuration,
				settings: settings}"/>
        </f:if>
        <f:comment> Week</f:comment>
        <f:if condition="{calendar.displayPeriod} == 1">
            <f:render partial="Calendar/Week"
                      arguments="{
				calendar: calendar,
				configuration: configuration,
				settings: settings}"/>
        </f:if>
        <f:comment> Month</f:comment>
        <f:if condition="{calendar.displayPeriod} == 2">
            <f:render partial="Calendar/Month"
                      arguments="{
				calendar: calendar,
				month: '{calendar.currentMonth}',
				configuration: configuration,
				settings: settings}"/>
        </f:if>
        <f:comment> Quarter</f:comment>
        <f:if condition="{calendar.displayPeriod} == 3">
            <f:render partial="Calendar/Quarter"
                      arguments="{
				calendar: calendar,
				configuration: configuration,
				settings: settings}"/>
        </f:if>
        <f:comment> Trimester</f:comment>
        <f:if condition="{calendar.displayPeriod} == 4">
            <f:render partial="Calendar/Trimester"
                      arguments="{
				calendar: calendar,
				configuration: configuration,
				settings: settings}"/>
        </f:if>
        <f:comment> Semester</f:comment>
        <f:if condition="{calendar.displayPeriod} == 5">
            <f:render partial="Calendar/Semester"
                      arguments="{
				calendar: calendar,
				configuration: configuration,
				settings: settings}"/>
        </f:if>
        <f:comment> Year</f:comment>
        <f:if condition="{calendar.displayPeriod} == 6">
            <f:render partial="Calendar/Year"
                      arguments="{
				calendar: calendar,
				configuration: configuration,
				settings: settings}"/>
        </f:if>
    </div>
</f:section>