.tx-t3events-calendar .miniMonth .calendarMonth {
    display: inline-block;
}

.tx-t3events-calendar .calendarMonth,
.tx-t3events-calendar .calendarWeek,
.tx-t3events-calendar .calendarQuarter,
.tx-t3events-calendar .calendarQuarter .month,
.tx-t3events-calendar .calendarYear {
    width: 100%;
}

.tx-t3events-calendar .day {
    padding: 0.3em;
}

.tx-t3events-calendar .miniMonth td.day {
    text-align: center;
}

.tx-t3events-calendar .comboView td.day {
    height: 10em;
    width: 14.285%;
}

.tx-t3events-calendar .comboView .calendarQuarter td.day {
    height: 4em;
}

.tx-t3events-calendar .comboView .calendarYear td.day {
    height: 1em;
    width: 15%;
}

.tx-t3events-calendar .comboView .labelDay {
    text-align: right;
}

.tx-t3events-calendar td.current {
    border: 1px solid;
}

.tx-t3events-calendar td.outOfMonth {
    color: #CCCCCC;
}

.tx-t3events-calendar .hasEvent {
    background-color: #E6E6E6;
    position: relative;
}

.tx-t3events-calendar .hasEvent .eventTooltip {
    display: none;
}

.tx-t3events-calendar .hasEvent:hover .eventTooltip {
    display: block;
    position: absolute;
    bottom: 60%;
    right: 30%;
    padding: 5px;
    background-color: #F2F2F2;
    text-align: left;
}

.tx-t3events-calendar .header,
.tx-t3events-calendar .navigation {
    text-align: center;
}

.tx-t3events-calendar .navigation i.fa-2x.fa-angle-left,
.tx-t3events-calendar .navigation i.fa-2x.fa-angle-right,
.tx-t3events-calendar .navigation i.fa-2x.fa-angle-double-right,
.tx-t3events-calendar .navigation i.fa-2x.fa-angle-double-left {
    position: relative;
    top: 0.1em;
}

.tx-t3events-calendar .legend {
    margin: 0 1em;
    font-weight: 700;
}

.tx-t3events-calendar .calendarYear .legend,
.tx-t3events-calendar .calendarQuarter .legend {
    text-align: center;
}
